header{
    font-size: 20px;
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#abt{
    align-content: center;


}
p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}